# Module 1 Code Challenge Review 

_May 20, 2020_

## Code Challenge Reviews

#### 1. Pandas Operations

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [5]:
# import a datafile from a directory
# read in 'auto-mpg.csv' from the data dir

In [6]:
# this is loading an example dataset which is stored in the seaborn library
# we'll use this dataset below
# run this cell

df = sns.load_dataset('iris')

In [7]:
# examine the first few rows of it

In [8]:
# examine the dimensions of it

In [9]:
# check to see if you have missing values

In [10]:
# let's add some missing values
df.iloc[2,1:3] = np.nan

#now check again for nulls

In [9]:
# drop the row with those nulls

In [11]:
# check again for nulls

In [12]:
# create a new column, that is 10 times the sepal length, called sepal_length_10

In [20]:
# create another column called sepal_length_10_2, again 10 times sepal length
# but using a different method to create the column

#### 2. Data Visualization

what is the difference between a bar chart, a histogram, and a scatterplot?

In [18]:
# plot the average pedal length for each species of iris

In [19]:
#create a bar chart using the following dummy data
persons = ['Annie', 'David', 'Lucy','Jin']
height = [60, 65, 67, 62]

In [18]:
# create a scatterplot of sepal length vs sepal width

In [17]:
#check the correlations among all the variables in the frame

Describe three relationships from the scatterplot / correlations you made

## Part III. Statistics

In [16]:
# calculate the mean and median value for sepal length

In [ ]:
# what can you say about the distribution of sepal length and sepal width based on this distribution?

In [29]:
# which flower has the longest pedal? what is the species of that flower

118    virginica
Name: species, dtype: object

## Part IV. Python Data Structure

In [31]:
Pets = {
    'Ginger': [{
        'age': 5,
        'type': 'Pitbull',
        'attribute': ['Playful','Cheery','Hyper']
    }],
    'Chloe': [{
        'age': 1,
        'type': 'Maine Coon',
        'teams': ['Alert','Independent','Playful']
    }],
    'Chuck Norris': [{
        'age': 8,
        'type': 'Parrot',
        'teams': ['Talkative','Independent','Cheery']
    }],
    'Joe Rogan': [{
        'age': 2,
        'type': 'Labrador',
        'teams': ['Hyper','Playful','Energetic']
    }]
}

In [13]:
# create a list of names containing all pets' names w/ a for-loop

In [14]:
# same thing but a list comprehension

In [15]:
# loop through the collection (however you like) to create a list that contain all pets' types
# desired output ['Pitbull','Maine Coon','Parrot','Labrador']

In [48]:
# create a function that returns the names of pets who is older than x years old

# the function should take in as parameters: 
#     dictionary containing all pet information, 
#     an integer indicating age you want to compare